html, body {
    height:100%;
    margin:0;
    padding:0;
}
td {
    min-width: 50px;
    min-height: 50px;
}
.maintable {
    width: 100%;
    height: 100%;
}
.carousel, .item, .active {
    height:100%;
}
.carousel-inner {
    height:100%;
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    background-color: #fff;
}
.carousel .carousel-inner .bg {
    background-repeat:no-repeat;
    background-size:cover;
}
.datum {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
/*.col-sm-1 {*/
/*width: 5%;*/
/*padding-left: 1px;*/
/*padding-right: 1px;*/
/*}*/
#infos img {
    height: 50px;
    width: 50px;
}
#infos span {
    line-height: 50px;
    font-size: 1.2em;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .time,
.footer .temp,
.footer .humidity {
    text-align: center;
}

.today {
    text-align: center;
}

.Cologne {
    background-image: url("/images/180_Bernd_Lynen2.jpg");
    color: #ffffff;
}

.Hadamar {
    background-image: url("/images/2225906.jpg");
    color: #ffffff;
}

.Troisdorf {
    background-image: url("/images/Burg-Wissem-Weihnachtsmarkt_gross-web.jpg");
    color: #ffffff;
}

.News {
    background-color: #000000 !important;
    color: #def;
    font-size: 14px;
}

.News .row {
    padding-bottom: 5px;
}

.News img {
    max-width: 200px;
    min-height: 100px;
}