<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
        td {
            text-align: center;
            padding: 0;
            width: 50px;
        }
    </style>
</head>
<!--/*@thymesVar id="ort" type="com.github.propromarco.weatherstation.data.WeatherForecastResponse"*/-->
<!--/*@thymesVar id="helper" type="com.github.propromarco.weatherstation.services.Helper"*/-->
<h1 th:text="${ort.getCity().getName()}"></h1>
<table>
    <tr>
        <td th:each="vorhersage : ${helper.getDates(ort.getForecasts())}" th:colspan="${helper.getColspan(ort.getForecasts(),vorhersage)}">
            <span style="display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" th:text="${vorhersage}"></span>
        </td>
    </tr>
    <tr>
        <td th:each="vorhersage : ${ort.getForecasts()}">
            <img th:src="${'/images/rgb/' + vorhersage.getWeatherConditions().get(0).getIconName() + '.svg'}"/>
        </td>
    </tr>
    <tr>
        <td th:each="vorhersage : ${ort.getForecasts()}">
            <span th:text="${helper.formatTime(vorhersage.getDateTimeString())}"></span>
        </td>
    </tr>
    <tr>
        <td th:each="vorhersage : ${ort.getForecasts()}">
            <span th:text="${helper.formatTemp(vorhersage.getMain().getTemp())}"></span>
        </td>
    </tr>
</table>
</html>